html, body {
  font-family: "Avenir Next", system-ui, "Helvetica Neue", sans-serif;
  background-color: #000;
}

h1 {
  text-align: center;
  margin: 2rem auto 1rem;
}

.text-change {
  animation: text-enlargement 1s infinite;
}

@keyframes text-enlargement {
  0% {
    letter-spacing: 0.5em;
    font-size: 1.5rem;
    line-height: 0.9;
    color: #d61515;
  }
  50% {
    letter-spacing: 0.2em;
    font-size: 2rem;
    line-height: 0.65;
    color: #d65b13;
  }
  100% {
    letter-spacing: 0.5em;
    font-size: 1.5em;
    line-height: 0.9;
    color: #d61515;
  }
}

#scene {
	animation: move 1s ease-in-out infinite;
	animation-fill-mode: forwards;
	position: absolute;
	top: 35%;
    left: 40%;
	transform: translate(-50%, -50%);
	backface-visibility: hidden;
	filter: blur(5px) contrast(100%) brightness(630%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

#meteor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0) rotate(-90deg);
	backface-visibility: hidden;
	perspective: 210px;
	perspective-origin: 40px 0;
}

#meteor::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 130%;
	padding-bottom: 160%;
	height: 0;
	background: linear-gradient(to bottom, transparent 0%, #b96d34 100%);
    border-radius: 100px;
    transform: translate(-50%, 20%);
    box-shadow: 0 19px 0 5px #000, 0 20px 0 4.6px red;
	z-index: 1;
}

#fire {
	background-color: #000;
	filter: none;
	transition: filter 1s ease;
	transform: rotateX(30deg) scale3d(1,1,1) translateY(-120px);
}

@keyframes move {
	0%   { transform: rotatez(43deg) translate(2px, 1px); }
	25%  { transform: rotatez(43deg) translate(3px, 2px); }
	50%  { transform: rotatez(43deg) translate(2px, 1px); }
	75%  { transform: rotatez(43deg) translate(1px, 3px); }
	100% { transform: rotatez(43deg) translate(2px, 1px); }
}
