html, body {
  font-family: "Avenir Next", system-ui, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  line-height: 1.25;
  letter-spacing: 0.2em;
  max-width: 32rem;
  margin: 2rem auto 1rem;
}

.color-changer {
  animation: color-change 4s infinite;
}

.profile {
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 1rem auto;
  border: 10px solid currentColor;
}

@keyframes color-change {
  0% { color: #19b70e; }
  12.5% { color: #0db79a; }
  25% { color: #0c34b7; }
  37.5% { color: #6c0bb7; }
  50% { color: #b70a0a; }
  62.5% { color: #b76609; }
  75% { color: #b7b409; }
  100% { color: #19b70e; }
}
