h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 5px 0px 20px 0px;
  color: #1656bc;
}
.hidden {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.image {
  display: block;
  height: 170px;
  width: 170px;
  margin: -200px 0px 0px 30%;
}
.image2 {
  display: block;
  height: 170px;
  width: 170px;
  margin: -170px 0px 0px 58%;
}