{% extends 'base_file.py' %}

{% block title %}Plague{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
{% endblock %}

{% block content %}
		<header>
			<h1>The Plague</h1>
		</header>
			<section id="content">
				<canvas id="Chemotaxis" data-processing-sources="{{ url_for('static', filename='chemotaxis/Chemotaxis.pde') }}">
				</canvas>
		    </section>
	    <footer>
	    	The Plague always takes everything over...
	    	But a cure can restart its process until further mutations (Click)
	    	<br>
		    Created by Rafael for APCS A (Java) with Processing
	    </footer>
{% endblock %}
