{% extends 'base_file.py' %}

{% block title %}Greem Die{% endblock %}

{% block head_css %}
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/apjava.min.css') }}">
{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
{% endblock %}

{% block content %}
		<header>
			<h1>Green Die</h1>
		</header>
			<section id="content">
				<canvas id="Dice" data-processing-sources="{{ url_for('static', filename='dice/Dice.pde') }}">
				</canvas>
		    </section>
	    <footer>
		    Created by Rafael for APCS A (Java) with Processing
	    </footer>
{% endblock %}
