{% extends 'base_file.py' %}

{% block title %}Tron Circles{% endblock %}

{% block head_js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
{% endblock %}

{% block content %}
		<header>
			<h1>Tron Circles</h1>
		</header>
			<section id="content">
				<canvas id="OriginalFractal" data-processing-sources="{{ url_for('static', filename='originalfractal/OriginalFractal.pde') }}">
				</canvas>
		    </section>
	    <footer>
	    	Move the mouse around!
	    	<br>
		    Created by Rafael for APCS A (Java) with Processing
	    </footer>
{% endblock %}