body {
	background: #00b4ff;
	color: #333;
	font: 100% Arial, Sans Serif;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
	bottom: 0;
	left: 0;
	padding-top: 50px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: -1;
}

/* KEYFRAMES */
@-webkit-keyframes animateCloud {
	0% {
		margin-left: -1000px;
	}

	100% {
		margin-left: 100%;
	}

}

@keyframes animateCloud {
	0% {
		margin-left: -1000px;
	}

	100% {
		margin-left: 100%;
	}

}

/* ANIMATIONS */
.x1 {
	-webkit-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	-webkit-transform: scale(0.65);
	transform: scale(0.65);
}

.x2 {
	-webkit-animation: animateCloud 15s linear infinite;
	animation: animateCloud 15s linear infinite;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
}

.x3 {
	-webkit-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}

.x4 {
	-webkit-animation: animateCloud 13s linear infinite;
	animation: animateCloud 13s linear infinite;
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
}

.x5 {
	-webkit-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;
	-webkit-transform: scale(0.55);
	transform: scale(0.55);
}

.x6 {
	-webkit-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);
}

.x7 {
	-webkit-animation: animateCloud 15s linear infinite;
	animation: animateCloud 15s linear infinite;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
}

.x8 {
	-webkit-animation: animateCloud 23s linear infinite;
	animation: animateCloud 23s linear infinite;
	-webkit-transform: scale(0.45);
	transform: scale(0.45);
}

/* OBJECTS */
.cloud {
	background: #fff;
	background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
	border-radius: 100px;
	box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	height: 120px;
	position: relative;
	width: 350px;
}

.cloud:after,
.cloud:before {
	background: #fff;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}

.cloud:before {
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}

h1 {
	color: #ddd;
	text-align: center;
	font-size: 8em;
	margin: 10% 0px 0px 0px;
}
