body {
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}
@media (prefers-color-scheme: dark){
  body {
    background-color: #212121;
    color: #ddd;
  }
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.footer {
    font-style: italic;
    font-size: 90%;
}
